<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
				<Configuration>
					<CodeCoverage>
						<Exclude>
							<!-- Exclude your EF Migrations namespace -->
							<Namespace>OBDInsightBot\.Migrations(\..*)?</Namespace>
						</Exclude>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>